@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int index = 1;
}

@model List<Employee>

<p class="text-muted">TO SHOW AN EMPLOYEE'S DEPENDANT<span class="text-danger"> LOGIN IS A MUST</span></p>
<button class="btn btn-primary text-white  mb-3 me-4"><h6 class="text-white"><a class="text-white" href="/Employee/Login">Login</a></h6> </button>
<button class="btn btn-primary text-white  mb-3"><h6 class="text-white"><a class="text-white" href="/Employee/add">Add New Employee</a></h6> </button>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {

            <tr>
                <td>@(index++)</td>
                <td>@(employee.Fname + " " + employee.Lname)</td>
                <td><a href="/Employee/GetById/@employee.SSN">[Details]</a></td>
                <td><a href="/Employee/Update/@employee.SSN">[Update]</a></td>
                <td><a href="/Employee/GetById/@employee.SSN">[Delete]</a></td>
            </tr>
        }
    </tbody>
</table>