@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/Employee/LoginDB">

    <label>SSN</label>
    <input class="form-control" id="SSN" name="SSN" type="text" />

    <label>Name</label>
    <input class="form-control" id="Fname" name="Fname" type="text" />

    <input class="btn btn-primary mt-4 text-white" type="submit" value="Login" />

</form>